/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

background-color: #333333;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23333333' width='11' height='11'/%3E%3Crect fill='%23353535' x='10' width='11' height='11'/%3E%3Crect fill='%23363636' y='10' width='11' height='11'/%3E%3Crect fill='%23383838' x='20' width='11' height='11'/%3E%3Crect fill='%233a3a3a' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%233c3c3c' y='20' width='11' height='11'/%3E%3Crect fill='%233d3d3d' x='30' width='11' height='11'/%3E%3Crect fill='%233f3f3f' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23414141' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23434343' y='30' width='11' height='11'/%3E%3Crect fill='%23444444' x='40' width='11' height='11'/%3E%3Crect fill='%23464646' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23484848' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23494949' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%234b4b4b' y='40' width='11' height='11'/%3E%3Crect fill='%234d4d4d' x='50' width='11' height='11'/%3E%3Crect fill='%234f4f4f' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23505050' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23525252' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23545454' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23565656' y='50' width='11' height='11'/%3E%3Crect fill='%23575757' x='60' width='11' height='11'/%3E%3Crect fill='%23595959' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%235b5b5b' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%235c5c5c' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%235e5e5e' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23606060' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23626262' x='70' width='11' height='11'/%3E%3Crect fill='%23636363' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23656565' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23676767' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23696969' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%236a6a6a' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%236c6c6c' x='80' width='11' height='11'/%3E%3Crect fill='%236e6e6e' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23707070' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23717171' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23737373' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23757575' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23767676' x='90' width='11' height='11'/%3E%3Crect fill='%23787878' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%237a7a7a' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%237c7c7c' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%237d7d7d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%237f7f7f' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23818181' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23838383' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23848484' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23868686' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23888888' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23898989' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%238b8b8b' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%238d8d8d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%238f8f8f' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23909090' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23929292' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23949494' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23969696' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23979797' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23999999' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;